$button-size: 12vh;
$shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
$border-radius: 8px;

page-home {

  [ion-fixed] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #E1E2E1;
  }

  [ion-fixed] > * {
    //flex: 1 1 100%;
  }

  .prediction{
    //background: #B0BEC5;
    //padding: 5px
  }

  .com-board{
    width: 100%;

  }

  .board{
    //background: #E1E2E1;
    height: 100% !important;
    //box-shadow: $shadow;
    padding: 5px;

  }


  .board > ion-row{
    height: 100%;
    flex-shrink: 1;
  }


  .textfield__btn{
    margin: auto 0;
    height: $button-size;
    width: $button-size;
    background-color: #E1E2E1;
    border-radius: $border-radius;
    font-size: 2rem;
    color: black;
    box-shadow: $shadow;
  }

  .textfield__btn:hover{
    background-color: #a5d6a7 !important;
  }


  .textfield{
    //background: #f5f5f5;
    min-height: 3rem;
    flex-shrink: 0;
    margin-top: 20px;
  }

  .textfield > ion-row{
    height: 100%;
  }

  .textfield__menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .textfield__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .textfield__content > div {
    //height: 100%;
  }
  .textfield__content > .incorrect {
    border-bottom: 2px solid #f44336;
  }

  .textfield__content > .correct {
    border-bottom: 2px solid #4CAF50;
  }


  .textfield__message{
    background: #FFFFFF;
    box-shadow: $shadow;
    border-radius: $border-radius;
    border: none !important;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 3rem;
    font-weight: 500;
    padding: 0rem 2rem;
    height: $button-size;
  }

  .board-button{
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }


  img.board-button__img ,
  .board-button__img > img{
    max-height: calc(100% - 3rem);
    height: auto;
    width: auto;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    overflow: hidden;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
  }


  .board-button__label{
    text-transform: none;
    color: black;
    font-size: 1.75rem;
    white-space: normal;
    max-width: 80%;
    position: absolute;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    bottom: .5rem;
  }

  .board-button .button-inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;


  }

  .board-button__dir{
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    border-top: 2em solid black;
    border-bottom: 2em solid transparent;
    border-left: 2em solid transparent ;
  }




}
