page-home {

  [ion-fixed] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
  }

  .prediction{
    height: 20%;
  }

  .textfield__btn{
    margin: auto 0;
    width: 8rem;
    padding: 0 4rem;
    font-size: 5rem;
  }

  .textfield{
    //display: grid;
    //grid-template-columns: auto 7%;
    //padding: 10px;
    //grid-gap: 5px;
    //background: #f5f5f5;
    height: 120px;
    min-height: 3rem;
  }

  .textfield > ion-row{
    height: 100%;
  }

  .textfield__menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .textfield__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .textfield__content > div {
    //height: 100%;
  }
  .textfield__content > .incorrect {
    border-bottom: 2px solid red;
  }

  .textfield__content > .correct {
    border-bottom: 2px solid green;
  }


  .textfield__message{
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
    border-radius: 8px;
    border: none !important;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 3rem;
    font-weight: 500;
    padding: 0rem 2rem;
  }

  .board{
    background: #E1E2E1;
    height: 100% !important;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    z-index: 10;
    //display: grid;
    //grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    //grid-gap: 5px;
    //padding: 10px;
  }

  .board > template{
    //display: contents !important;
  }

  .board > ion-row{
    height: 100%;
  }

  .board-button{
    height: 100%;
    width: 100%;
    border-radius: 6px;
  }

  .board-button__img{
    max-height: calc(100% - 3rem);
    max-width: 50%;
    height: auto;
    width: auto;

    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .board-button__label{
    text-transform: none;
    color: black;
    font-size: 1.75rem;
    white-space: normal;
    max-width: 80%;
    position: absolute;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    line-break: strict;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    bottom: .5rem;
  }

  .board-button .button-inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;


  }

  .board-button__dir{
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    border-top: 2em solid black;
    border-bottom: 2em solid transparent;
    border-left: 2em solid transparent ;
  }

  .prediction{
    background: #B0BEC5;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;

  }



}
