<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div ion-fixed>

  <!-- Text Buffer -->
  <ion-grid class="textfield">
    <ion-row>
      <ion-col col-11>
        <div class="textfield__message">

          <div class="textfield__content">
            <div *ngIf="grammarCheck then check else nocheck"></div>

             <ng-template #check>
                <div [ngClass]="(isCorrect >= 0 && isCorrect == 1 ) ? 'correct': 'incorrect'" >
                    {{displayMessage()}}
                </div>
             </ng-template>

             <ng-template #nocheck>
                {{displayMessage()}}
             </ng-template>

          </div>

          <ion-icon class="textfield__btn" (click)='speak()' name="mic"></ion-icon>
          <ion-icon class="textfield__btn" (click)='removeLastWord()' name="backspace"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="textfield__menu">
          <ion-icon class="textfield__btn" (click)='clearMessage()' name="trash"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Word prediction -->
  <div class="prediction"  *ngIf="wordPrediction">
    <button *ngFor="let i of [0,1,2]" class="board-button" ion-button>
        <div class="board-button__img" >
            <ion-img [cache]="true" ></ion-img>
        </div>
        <div class="board-button__label" >  testß </div>
    </button>
  </div>

  <ion-grid *ngIf="!currentBoard.isEmpty()" class="board">
    <ion-row *ngFor="let row of currentBoard.getGrid()">
      <ion-col *ngFor="let button of row">

        <div *ngIf="button !== null; then functionalButton else blankButton"></div>
        <ng-template #functionalButton>

          <div *ngIf="button.isDirectory(); then directory else phrase"></div>
          <ng-template #directory>
            <button class="board-button" [ngStyle]="{'background': button.getBackgroundColor()}" ion-button (click)='changeBoard(button.getLinkedBoardID())'>
              <img class="board-button__img" src="{{button.getImageURL()}}">
              <div class="board-button__label" > {{button.getLabel()}} </div>
              <div class="board-button__dir"> </div>
            </button>
          </ng-template>

          <ng-template #phrase>
            <button class="board-button" [ngStyle]="{'background': button.getBackgroundColor()}" ion-button (click)='addWord(button.getLabel())'>
              <div class="button__container" ></div>
                <img class="board-button__img" src="{{button.getImageURL()}}">
                <div class="board-button__label" > {{button.getLabel()}} </div>
            </button>
          </ng-template>

        </ng-template>
        <ng-template #blankButton>
          <div></div>
        </ng-template>





      </ion-col>
    </ion-row>
  </ion-grid>


  </div>
</ion-content>
