<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div ion-fixed>

  <!-- Text Buffer -->
  <ion-grid class="textfield">
    <ion-row justify-content-center>
      <ion-col col-auto>
        <button class="textfield__btn" (click)='speak()' ion-button icon-only>
            <ion-icon name="mic"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <div class="textfield__message">

          <div class="textfield__content">
            <div *ngIf="grammarCheck then check else nocheck"></div>

             <ng-template #check>
                <div [ngClass]="(isCorrect >= 0 && isCorrect == 1 ) ? 'correct': 'incorrect'" >
                    {{displayMessage()}}
                </div>
             </ng-template>

             <ng-template #nocheck>
                {{displayMessage()}}
             </ng-template>

          </div>
        </div>
      </ion-col>
      <ion-col col-auto>
        <button class="textfield__btn" (click)='removeLastWord()' ion-button icon-only>
            <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto>
        <button class="textfield__btn" (click)='clearMessage()' ion-button icon-only>
            <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid  *ngIf="!currentBoard.isEmpty()" class="board">

   <!-- Word prediction -->
    <ion-row class="prediction">
      <ion-col *ngFor="let i of [0,1,2,3,4]">
          <button  class="board-button" ion-button>
            <img class="board-button__img" src="">
            <div class="board-button__dir"> </div>
          </button>
      </ion-col>
    </ion-row>

    <!-- Communication boards -->
    <ion-row class="com-board" *ngFor="let row of currentBoard.getGrid()">
      <ion-col *ngFor="let button of row">

        <div *ngIf="button !== null; then functionalButton else blankButton"></div>
        <ng-template #functionalButton>

          <div *ngIf="button.isDirectory(); then directory else phrase"></div>
          <ng-template #directory>
            <button class="board-button" [ngStyle]="{'background': button.getBackgroundColor()}" ion-button (click)='changeBoard(button.getLinkedBoardID())'>
              <img class="board-button__img" src="{{button.getImageURL()}}">
              <div class="board-button__label" > {{button.getLabel()}} </div>
              <div class="board-button__dir"> </div>
            </button>
          </ng-template>

          <ng-template #phrase>
            <button class="board-button" [ngStyle]="{'background': button.getBackgroundColor()}" ion-button (click)='addWord(button.getLabel())'>
              <div class="button__container" ></div>
                <img class="board-button__img" src="{{button.getImageURL()}}">
                <div class="board-button__label" > {{button.getLabel()}} </div>
            </button>
          </ng-template>

        </ng-template>
        <ng-template #blankButton>
          <div></div>
        </ng-template>





      </ion-col>
    </ion-row>
  </ion-grid>


  </div>
</ion-content>
