<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div ion-fixed>
  <!-- Text Buffer -->

  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" value="{{message}}"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button block (click)='removeLastWord()'>Delete</button>
      </ion-col>
      <ion-col col-1>
        <button ion-button block (click)='speak()'>Speak</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Word prediction -->

  <ion-grid class="prediction"  *ngIf="wordPrediction">
    <ion-row>
        <ion-col col-2>
            <button ion-button block>Block Button</button>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Communication board -->

  <ion-grid class="board">
    <ion-row *ngFor="let row of this.currentBoard">
      <ion-col *ngFor="let button of row" >

        <div *ngIf="button.load_board; then directory else word"></div>
        <ng-template #directory>

            <button class="board-button" [ngStyle]="{'background': button.background_color}" ion-button>
                <ion-img class="board-button__img" [cache]="true" src="{{button.image_url}}"></ion-img>
                {{button.label}}
            </button>
        </ng-template>

        <ng-template #word>
            <button class="board-button" [ngStyle]="{'background': button.background_color}" ion-button (click)='addWord(button.label)'> {{button.label}}</button>
        </ng-template>

      </ion-col>
    </ion-row>

  </ion-grid>

  </div>
</ion-content>
