<!--
  Generated template for the SettingsBoardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Boards</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item class="info">
    Choose one of the boards below.
  </ion-item>

  <ion-item>
    <ion-label>Current board set</ion-label>
    <div item-end>
      {{this.boardSet}}
    </div>
  </ion-item>
  <ion-card class="board-card" *ngFor="let b of this.boardSets">
    <img [src]="'../assets/screenshots/' + b + '.png'"/>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-between>
          <ion-col>
            <ion-card-title>
              {{b}}
            </ion-card-title>
          </ion-col>
          <ion-col col-auto>
            <div *ngIf="b === this.boardSet; then selected else notSelected"></div>
            <ng-template #selected>
              <button ion-button disabled item-end >
                Selected
              </button>
            </ng-template>
            <ng-template #notSelected>
              <button ion-button item-end (click)="selectBoard(b)">
                Select
              </button>
            </ng-template>

          </ion-col>
        </ion-row>
      </ion-grid>



      <!-- <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p> -->

    </ion-card-content>

  </ion-card>


</ion-content>
